.Input input[type=text],
.Input input[type=tel],
.Input input[type=email],
.Input input[type=password] {
  font-size: 0.9em;
  border: 1px solid #eee;
  padding: 1.5%;
  border-radius: 10px;
  width: 50%;
  margin: 1.2%;
  height: 15px;
}

/* .Input input[type=textbox] {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
} */

/* .Input input[type=text]:focus,
.Input input[type=tel]:focus,
.Input input[type=email]:focus,
.Input input[type=password]:focus,
.Input input[type=text]:hover,
.Input input[type=tel]:hover,
.Input input[type=email]:hover,
.Input input[type=password]:hover {
  outline: none;
  border-bottom: 2px solid #3e65cf;
} */