.Input input[type=text],
.Input input[type=tel],
.Input input[type=email],
.Input input[type=password] {
  padding: 5px 6px;
  font-size: 0.9em;
  border: none;
  border-bottom: 1px solid #eee;
  width: 250px;
  display: block;
  margin: 20px auto;
}

/* .Input input[type=textbox] {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
} */

.Input input[type=text]:focus,
.Input input[type=tel]:focus,
.Input input[type=email]:focus,
.Input input[type=password]:focus,
.Input input[type=text]:hover,
.Input input[type=tel]:hover,
.Input input[type=email]:hover,
.Input input[type=password]:hover {
  outline: none;
  border-bottom: 2px solid #3e65cf;
}