.Post {
  width: 80%;
  height: 20%;
  /* overflow: scroll; */
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  margin: 2% auto;
  padding: 0;
}
 p, small {
   margin: 2%;
 }

small {
   color: #27aee3;
   font-weight: bold;
 }