/* .container {
  box-sizing: border-box;
  width: 400px;
  height: 500px;
  margin: 80px auto;
  padding: 10px;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  text-align: center;
}

input[type=tel],
input[type=password] {
  padding: 5px 6px;
  font-size: 0.9em;
  border: none;
  border-bottom: 1px solid #eee;
  width: 250px;
  display: block;
  margin: 20px auto;
}

input[type=tel]:focus,
input[type=password]:focus,
input[type=tel]:hover,
input[type=password]:hover {
  outline: none;
  border-bottom: 2px solid #3e65cf;
}

button {
  border: none;
  padding: 5px;
  width: 120px;
  height: 38px;
  background-color: #3e65cf;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  box-shadow: 0 2px 3px #3b5998; 
  cursor: pointer;
  margin: 20px auto;
  font-weight: bold;
}

button:hover {
  background-color: #F44336;
  box-shadow: 0 2px 3px #ed4e36;
} */

.Login h1, h2 {
  color: #F44336;
}
.Login h2 {
  margin-bottom: 30px;
}

.Login a {
  text-decoration: none;
  font-size: 0.8em;
  color: #3e65cf;
  font-weight: 700;
}
